<!-- Carousel -->

<div class="hero-slider">
 <div
  *ngFor="let slide of slides; let i = index; trackBy: trackByIndex"
  class="slide"
  [class.active]="i === activeSlide">

    <img [src]="slide" class="slide-image">

</div>
  <!--<div
    *ngFor="let slide of slides; let i = index"
    class="slide"
    [class.active]="i === activeSlide">
    <img [src]="slide" alt="Hero slide" class="slide-image" />
  </div> -->

  <!-- <div class="hero-overlay absolute inset-0 bg-black/50"></div> -->

  <!-- <div class="hero-content absolute inset-0 flex items-center justify-center px-6">
    <div class="max-w-3xl text-center text-white">
      <h4 class="text-2xl md:text-5xl font-bold tracking-tight">
       Delivering Industrial Excellence with Speed, Quality, and Innovation
      </h4>
      <button class="mt-8 bg-yellow-500 text-slate-900 px-8 py-3 rounded-full text-lg font-semibold hover:bg-yellow-400">
        Enquire Now
      </button>
    </div>
  </div> -->
</div>


<!-- Our Products -->

<section class="w-full max-w-full px-4 sm:px-6 lg:px-8 py-6">

  <h2 class="text-2xl font-bold mb-8">
    Our Products
  </h2>

  <div class="grid md:grid-cols-3 gap-6">

    <div *ngFor="let product of products"
     class="bg-white rounded-xl shadow-lg overflow-hidden">

  <div class="h-64 w-full bg-gray-100 flex items-center justify-center">
    <img
      [src]="product.image"
      [alt]="product.name"
      class="max-h-full max-w-full object-contain p-2" />
  </div>

  <div class="p-3">
    <h3 class="text-lg font-semibold">{{ product.name }}</h3>

    <button
      (click)="preview(product.id)"
      class="bg-blue-900 text-white text-sm px-3 py-1 rounded mt-1">
      Preview
    </button>
  </div>
</div>

  </div>

</section>

<!-- Contact Information -->
<div class="w-full bg-gradient-to-r bg-slate-900/95 shadow-xl px-8 py-2 ">

    <div class="grid grid-cols-1 md:grid-cols-3 divide-y md:divide-y-0 md:divide-x divide-white/20">

        <!-- Phone -->
        <div class="flex items-center gap-5 px-6 py-4">

            <div
                class="w-16 h-16 rounded-full border border-yellow-400 flex items-center justify-center text-yellow-400 text-3xl">
                📞
            </div>

            <div>
                <h4 class="text-white text-xl font-semibold">Call Us</h4>
                <p class="text-blue-100 text-lg mt-1">
                    +91 7058492729
                </p>
            </div>

        </div>

        <!-- Email -->
        <div class="flex items-center gap-5 px-6 py-4">

            <div
                class="w-16 h-16 rounded-full border border-yellow-400 flex items-center justify-center text-yellow-400 text-3xl">
                ✉️
            </div>

            <div>
                <h4 class="text-white text-xl font-semibold">Email</h4>
                <p class="text-blue-100 text-lg mt-1 break-all">
                    sales@morvexindia.com
                </p>
            </div>

        </div>

        <!-- Address -->
        <div class="flex items-center gap-5 px-6 py-4">

            <div
                class="w-16 h-16 rounded-full border border-yellow-400 flex items-center justify-center text-yellow-400 text-3xl">
                📍
            </div>

            <div>
                <h4 class="text-white text-xl font-semibold">
                    Corporate Office
                </h4>

                <p class="text-blue-100 leading-7 mt-1">
                    MORVEX Industrial Solutions Pvt. Ltd.<br>
                    SRno.106, Hadapsar Inustrial Estate<br>
                    Pune, Maharashtra, India
                </p>

            </div>

        </div>

    </div>

</div>